<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="pluginSection" type="AnyCAD.NX.Plugin.PluginConfigurationSection,AnyCAD.NX.View" />
	</configSections>
	<pluginSection>
		<plugins>
			<plugin name="Core.Model" path="AnyCAD.NX.Model.dll"/>
			<plugin name="Core.View" path="AnyCAD.NX.View.dll"/>
		</plugins>	
	</pluginSection>
</configuration>
